pipeline/BRAVO SDE FACT CHILD MANUAL2.json
{
	"name": "BRAVO SDE FACT CHILD MANUAL2",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "Blob_Storage_fin",
						"type": "DatasetReference",
						"parameters": {
							"container": "transform-csv-phase2",
							"filename": "BRAVO_FROM_TO_DATE.txt",
							"folder": "BRAVO"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"batchCount": 3,
					"activities": [
						{
							"name": "Switch1",
							"type": "Switch",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"on": {
									"value": "@pipeline().parameters.DB",
									"type": "Expression"
								},
								"cases": [
									{
										"value": "SABECO",
										"activities": [
											{
												"name": "Copy data1_copy1",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "SqlServerSource",
														"additionalColumns": [
															{
																"name": "Entity",
																"value": {
																	"value": "@{pipeline().parameters.ENTITY}",
																	"type": "Expression"
																}
															},
															{
																"name": "W_BATCH_ID",
																"value": {
																	"value": "@pipeline().parameters.W_BATCH_ID",
																	"type": "Expression"
																}
															},
															{
																"name": "W_INSERT_DATE",
																"value": {
																	"value": "@addhours(utcnow(),7)",
																	"type": "Expression"
																}
															},
															{
																"name": "W_DATASOURCE_NAME",
																"value": "BRAVO"
															},
															{
																"name": "Doc_date1",
																"value": {
																	"value": "@item().FROM_DATE",
																	"type": "Expression"
																}
															},
															{
																"name": "Doc_date2",
																"value": {
																	"value": "@item().TO_DATE",
																	"type": "Expression"
																}
															},
															{
																"name": "W_ACCOUNT",
																"value": {
																	"value": "@pipeline().parameters.W_ACCOUNT",
																	"type": "Expression"
																}
															}
														],
														"sqlReaderQuery": {
															"value": "@replace(replace(replace(pipeline().parameters.script,'{param_2}',item().TO_DATE),'{param_3}',pipeline().parameters.ENTITY),'{param_1}',item().FROM_DATE)",
															"type": "Expression"
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"sink": {
														"type": "SqlDWSink",
														"preCopyScript": {
															"value": "DELETE @{pipeline().parameters.TGT_TABLE} WHERE W_BATCH_ID <> '@{pipeline().parameters.W_BATCH_ID}'",
															"type": "Expression"
														},
														"writeBehavior": "Insert",
														"sqlWriterUseTableLock": false,
														"disableMetricsCollection": false
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "Bravo_SqlServerTable",
														"type": "DatasetReference",
														"parameters": {
															"schema": "''",
															"table": "''"
														}
													}
												],
												"outputs": [
													{
														"referenceName": "SBC_Azure_Synapse1",
														"type": "DatasetReference",
														"parameters": {
															"TGT_TABLE": {
																"value": "@pipeline().parameters.TGT_TABLE",
																"type": "Expression"
															}
														}
													}
												]
											}
										]
									},
									{
										"value": "CHUONG_DUONG",
										"activities": [
											{
												"name": "Copy data1_copy2",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "SqlServerSource",
														"additionalColumns": [
															{
																"name": "Entity",
																"value": {
																	"value": "@{pipeline().parameters.ENTITY}",
																	"type": "Expression"
																}
															},
															{
																"name": "W_BATCH_ID",
																"value": {
																	"value": "@pipeline().parameters.W_BATCH_ID",
																	"type": "Expression"
																}
															},
															{
																"name": "W_INSERT_DATE",
																"value": {
																	"value": "@addhours(utcnow(),7)",
																	"type": "Expression"
																}
															},
															{
																"name": "W_DATASOURCE_NAME",
																"value": "BRAVO"
															},
															{
																"name": "Doc_date1",
																"value": ""
															},
															{
																"name": "Doc_date2",
																"value": {
																	"value": "@item().TO_DATE",
																	"type": "Expression"
																}
															},
															{
																"name": "W_ACCOUNT",
																"value": {
																	"value": "@pipeline().parameters.W_ACCOUNT",
																	"type": "Expression"
																}
															}
														],
														"sqlReaderQuery": {
															"value": "@replace(replace(replace(pipeline().parameters.script,'{param_2}',item().TO_DATE),'{param_3}',pipeline().parameters.ENTITY),'{param_1}',item().FROM_DATE)",
															"type": "Expression"
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"sink": {
														"type": "SqlDWSink",
														"preCopyScript": {
															"value": "DELETE @{pipeline().parameters.TGT_TABLE} WHERE W_BATCH_ID <> '@{pipeline().parameters.W_BATCH_ID}'",
															"type": "Expression"
														},
														"writeBehavior": "Insert",
														"sqlWriterUseTableLock": false,
														"disableMetricsCollection": false
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "Bravo_SqlServerTable_ChuongDuong",
														"type": "DatasetReference",
														"parameters": {
															"schema": "''",
															"table": "''"
														}
													}
												],
												"outputs": [
													{
														"referenceName": "SBC_Azure_Synapse1",
														"type": "DatasetReference",
														"parameters": {
															"TGT_TABLE": {
																"value": "@pipeline().parameters.TGT_TABLE",
																"type": "Expression"
															}
														}
													}
												]
											}
										]
									}
								]
							}
						}
					]
				}
			}
		],
		"parameters": {
			"ENTITY": {
				"type": "string",
				"defaultValue": "A01"
			},
			"script": {
				"type": "string",
				"defaultValue": "exec usp_Kqt_BangCanDoiKeToan200_BI @_DocDate2 = '{param_2}', @_Ma_Dvcs = '{param_3}'"
			},
			"TGT_TABLE": {
				"type": "string",
				"defaultValue": "[STG].[W_BRAVO_CONSO_GL_FOR_DA_FS]"
			},
			"W_ACCOUNT": {
				"type": "string"
			},
			"W_BATCH_ID": {
				"type": "string",
				"defaultValue": "1"
			},
			"DB": {
				"type": "string"
			},
			"RUN_MANUAL": {
				"type": "int",
				"defaultValue": 0
			}
		},
		"variables": {
			"script": {
				"type": "String",
				"defaultValue": "exec usp_Kqt_BangCanDoiKeToan200_BI @_DocDate2 = '{param_2}', @_Ma_Dvcs = '{param_3}'"
			}
		},
		"folder": {
			"name": "FINANCE"
		},
		"annotations": [],
		"lastPublishTime": "2023-09-21T14:44:33Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}