pipeline/BRAVO SDE DIM2.json
{
	"name": "BRAVO SDE DIM2",
	"properties": {
		"activities": [
			{
				"name": "ForEach1_copy1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"batchCount": 4,
					"activities": [
						{
							"name": "If Condition1_copy1_copy1",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(1,1)",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Copy data",
										"type": "Copy",
										"dependsOn": [
											{
												"activity": "start",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "SqlServerSource",
												"additionalColumns": [
													{
														"name": "W_BATCH_ID",
														"value": {
															"value": "@pipeline().parameters.p_batch_id",
															"type": "Expression"
														}
													},
													{
														"name": "W_INSERT_DATE",
														"value": {
															"value": "@addhours(utcnow(),7)",
															"type": "Expression"
														}
													},
													{
														"name": "W_DATASOURCE_NAME",
														"value": "BRAVO"
													},
													{
														"name": "W_ACCOUNT",
														"value": {
															"value": "@item().W_ACCOUNT",
															"type": "Expression"
														}
													}
												],
												"sqlReaderQuery": {
													"value": "@item().JOB_SCRIPT",
													"type": "Expression"
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"sink": {
												"type": "SqlDWSink",
												"preCopyScript": {
													"value": "DELETE @{item().TGT_TABLE} WHERE W_BATCH_ID <> '@{pipeline().parameters.p_batch_id}'",
													"type": "Expression"
												},
												"writeBehavior": "Insert",
												"sqlWriterUseTableLock": false,
												"disableMetricsCollection": false
											},
											"enableStaging": false
										}
									},
									{
										"name": "start",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[ADF].[proc_etl_log_message]",
											"storedProcedureParameters": {
												"pBATCH_ID": {
													"value": {
														"value": "@pipeline().parameters.p_batch_id",
														"type": "Expression"
													},
													"type": "Int64"
												},
												"pERROR_CODE": {
													"value": "",
													"type": "String"
												},
												"pERROR_MESSAGE": {
													"value": "",
													"type": "String"
												},
												"pJOB_ID": {
													"value": {
														"value": "@item().JOB_ID",
														"type": "Expression"
													},
													"type": "Int64"
												},
												"pJOB_NAME": {
													"value": "",
													"type": "String"
												},
												"pLOG_MESSAGE": {
													"value": {
														"value": "Start load table @{item().TGT_TABLE}",
														"type": "Expression"
													},
													"type": "String"
												},
												"pLOG_STATUS": {
													"value": "",
													"type": "String"
												},
												"pSTAGE_GROUP": {
													"value": "",
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "SBC_Azure_Synapse",
											"type": "LinkedServiceReference"
										}
									},
									{
										"name": "end_success",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "Copy data",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[ADF].[proc_etl_log_message]",
											"storedProcedureParameters": {
												"pBATCH_ID": {
													"value": {
														"value": "@pipeline().parameters.p_batch_id",
														"type": "Expression"
													},
													"type": "Int64"
												},
												"pERROR_CODE": {
													"value": "0",
													"type": "String"
												},
												"pERROR_MESSAGE": {
													"value": "",
													"type": "String"
												},
												"pJOB_ID": {
													"value": {
														"value": "@item().JOB_ID",
														"type": "Expression"
													},
													"type": "Int64"
												},
												"pJOB_NAME": {
													"value": "",
													"type": "String"
												},
												"pLOG_MESSAGE": {
													"value": {
														"value": "Finished load table @{item().TGT_TABLE}",
														"type": "Expression"
													},
													"type": "String"
												},
												"pLOG_STATUS": {
													"value": "END",
													"type": "String"
												},
												"pSTAGE_GROUP": {
													"value": "",
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "SBC_Azure_Synapse",
											"type": "LinkedServiceReference"
										}
									},
									{
										"name": "end_fail",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "Copy data",
												"dependencyConditions": [
													"Failed"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[ADF].[proc_etl_log_message]",
											"storedProcedureParameters": {
												"pBATCH_ID": {
													"value": {
														"value": "@pipeline().parameters.p_batch_id",
														"type": "Expression"
													},
													"type": "Int64"
												},
												"pERROR_CODE": {
													"value": "1",
													"type": "String"
												},
												"pERROR_MESSAGE": {
													"value": {
														"value": "@activity('Copy data').output.error.Message",
														"type": "Expression"
													},
													"type": "String"
												},
												"pJOB_ID": {
													"value": {
														"value": "@item().JOB_ID",
														"type": "Expression"
													},
													"type": "Int64"
												},
												"pJOB_NAME": {
													"value": "",
													"type": "String"
												},
												"pLOG_MESSAGE": {
													"value": {
														"value": "Finished load table @{item().TGT_TABLE}",
														"type": "Expression"
													},
													"type": "String"
												},
												"pLOG_STATUS": {
													"value": "ERROR",
													"type": "String"
												},
												"pSTAGE_GROUP": {
													"value": "",
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "SBC_Azure_Synapse",
											"type": "LinkedServiceReference"
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderStoredProcedureName": "[ADF].[proc_etl_get_job]",
						"storedProcedureParameters": {
							"p_batch_id": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.p_batch_id",
									"type": "Expression"
								}
							},
							"p_job_group": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.p_job_group",
									"type": "Expression"
								}
							},
							"p_job_id": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.p_job_id",
									"type": "Expression"
								}
							},
							"p_order": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.p_order",
									"type": "Expression"
								}
							},
							"p_stage_group": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.p_stage_group",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"firstRowOnly": false
				}
			}
		],
		"parameters": {
			"p_batch_id": {
				"type": "string",
				"defaultValue": "1"
			},
			"p_job_group": {
				"type": "string",
				"defaultValue": "BRAVO"
			},
			"p_job_id": {
				"type": "string",
				"defaultValue": "ALL"
			},
			"p_order": {
				"type": "string",
				"defaultValue": "ALL"
			},
			"ENTITY": {
				"type": "string"
			},
			"p_stage_group": {
				"type": "string",
				"defaultValue": "SDE DIM"
			}
		},
		"folder": {
			"name": "FINANCE"
		},
		"annotations": [],
		"lastPublishTime": "2023-09-21T14:44:31Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}