pipeline/CR CONVERT EXCEL MASTER.json
{
	"name": "CR CONVERT EXCEL MASTER",
	"properties": {
		"activities": [
			{
				"name": "Get Job Parameter",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderStoredProcedureName": "[ADF].[PRC_GET_PRE_ETL_JOB_V2]",
						"storedProcedureParameters": {
							"pGROUP_NAME": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.GROUP_NAME",
									"type": "Expression"
								}
							},
							"pGROUP_VALUE": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.GROUP_VALUE",
									"type": "Expression"
								}
							},
							"pSTAGE_GROUP": {
								"type": "String",
								"value": "CONVERT"
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SBC_Azure_Synapse1",
						"type": "DatasetReference",
						"parameters": {
							"TGT_TABLE": "Dummy"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Execute Dynamic Load Excel",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Job Parameter",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Job Parameter').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Check Blob Exists",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "Blob_Container",
									"type": "DatasetReference",
									"parameters": {
										"container": {
											"value": "@substring(item().INPUT_CONTAINER, 0, indexof(item().INPUT_CONTAINER, '/'))",
											"type": "Expression"
										},
										"path": {
											"value": "@replace(substring(item().INPUT_CONTAINER, add(indexof(item().INPUT_CONTAINER, '/'), 1), sub(length(item().INPUT_CONTAINER), add(indexof(item().INPUT_CONTAINER, '/'), 1))),'%d',pipeline().parameters.current_data_time)",
											"type": "Expression"
										}
									}
								},
								"fieldList": [
									"exists"
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							}
						},
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Check Blob Exists",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(activity('Check Blob Exists').output.exists,true)",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Execute Convert Excel from Folder",
										"type": "ExecutePipeline",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"pipeline": {
												"referenceName": "CR CONVERT EXCEL FROM FOLDER",
												"type": "PipelineReference"
											},
											"waitOnCompletion": true,
											"parameters": {
												"input_container": {
													"value": "@substring(item().INPUT_CONTAINER, 0, indexof(item().INPUT_CONTAINER, '/'))",
													"type": "Expression"
												},
												"input_path": {
													"value": "@substring(item().INPUT_CONTAINER, add(indexof(item().INPUT_CONTAINER, '/'), 1), sub(length(item().INPUT_CONTAINER), add(indexof(item().INPUT_CONTAINER, '/'), 1)))",
													"type": "Expression"
												},
												"config_key": {
													"value": "@item().CONFIG_KEY",
													"type": "Expression"
												},
												"output_container": {
													"value": "@substring(item().OUTPUT_CONTAINER, 0, indexof(item().OUTPUT_CONTAINER, '/'))",
													"type": "Expression"
												},
												"output_path": {
													"value": "@substring(item().OUTPUT_CONTAINER, add(indexof(item().OUTPUT_CONTAINER, '/'), 1), sub(length(item().OUTPUT_CONTAINER), add(indexof(item().OUTPUT_CONTAINER, '/'), 1)))",
													"type": "Expression"
												},
												"current_data_time": {
													"value": "@pipeline().parameters.current_data_time",
													"type": "Expression"
												},
												"batch_id": {
													"value": "@pipeline().parameters.batch_id",
													"type": "Expression"
												},
												"job_name": {
													"value": "@item().JOB_NAME",
													"type": "Expression"
												},
												"job_id": {
													"value": "@item().JOB_ID",
													"type": "Expression"
												},
												"stage_group": {
													"value": "@item().STAGE_GROUP",
													"type": "Expression"
												}
											}
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"parameters": {
			"batch_id": {
				"type": "string"
			},
			"current_data_time": {
				"type": "string"
			},
			"GROUP_NAME": {
				"type": "string"
			},
			"GROUP_VALUE": {
				"type": "string"
			}
		},
		"variables": {
			"input_container": {
				"type": "String"
			},
			"input_path": {
				"type": "String"
			},
			"config_key": {
				"type": "String"
			},
			"output_container": {
				"type": "String"
			},
			"output_path": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-09-21T14:44:34Z",
		"lastUpdateUtc": "2022-12-08T09:54:17Z",
		"createTimeUtc": "0001-01-01T00:00:00Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}