pipeline/CR CONVERT EXCEL FROM FOLDER.json
{
	"name": "CR CONVERT EXCEL FROM FOLDER",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Blob_Container",
						"type": "DatasetReference",
						"parameters": {
							"container": {
								"value": "@pipeline().parameters.input_container",
								"type": "Expression"
							},
							"path": {
								"value": "@replace(pipeline().parameters.input_path,'%d',pipeline().parameters.current_data_time)",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata1').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Get and Build Config",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlDWSource",
									"sqlReaderStoredProcedureName": "[STG].[ETL_DYNAMIC_EXCEL_CONFIG_PRC]",
									"storedProcedureParameters": {
										"configKey": {
											"type": "String",
											"value": {
												"value": "@pipeline().parameters.config_key",
												"type": "Expression"
											}
										},
										"inputContainer": {
											"type": "String",
											"value": {
												"value": "@pipeline().parameters.input_container",
												"type": "Expression"
											}
										},
										"inputFile": {
											"type": "String",
											"value": {
												"value": "@concat(replace(pipeline().parameters.input_path,'%d',pipeline().parameters.current_data_time),'/',item().name)",
												"type": "Expression"
											}
										},
										"outputContainer": {
											"type": "String",
											"value": {
												"value": "@pipeline().parameters.output_container",
												"type": "Expression"
											}
										},
										"outputFile": {
											"type": "String",
											"value": {
												"value": "@concat(replace(pipeline().parameters.output_path,'%d',pipeline().parameters.current_data_time),'/',replace(item().name,'xlsx', 'csv'))",
												"type": "Expression"
											}
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "SBC_Azure_Synapse1",
									"type": "DatasetReference",
									"parameters": {
										"TGT_TABLE": "Dummy"
									}
								},
								"firstRowOnly": true
							}
						},
						{
							"name": "Transform and Write to blob",
							"type": "AzureFunctionActivity",
							"dependsOn": [
								{
									"activity": "Transform and Write to blob Webhook",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 3,
								"retryIntervalInSeconds": 120,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"functionName": "convert_excel_to_csv",
								"method": "POST",
								"body": {
									"value": "@activity('Get and Build Config').output['firstRow']['config_body']",
									"type": "Expression"
								}
							},
							"linkedServiceName": {
								"referenceName": "az_function_helpers",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Update Success Logs",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Transform and Write to blob",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[ADF].[PROC_ETL_LOG_MESSAGE]",
								"storedProcedureParameters": {
									"pBATCH_ID": {
										"value": {
											"value": "@int(pipeline().parameters.batch_id)",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"pERROR_CODE": {
										"value": null,
										"type": "String"
									},
									"pERROR_MESSAGE": {
										"value": null,
										"type": "String"
									},
									"pJOB_ID": {
										"value": {
											"value": "@pipeline().parameters.job_id",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"pLOG_MESSAGE": {
										"value": {
											"value": "@activity('Transform and Write to blob').output.message",
											"type": "Expression"
										},
										"type": "String"
									},
									"pLOG_STATUS": {
										"value": "DEBUG",
										"type": "String"
									},
									"pSTAGE_GROUP": {
										"value": {
											"value": "@pipeline().parameters.stage_group",
											"type": "Expression"
										},
										"type": "String"
									},
									"pJOB_NAME": {
										"value": {
											"value": "@pipeline().parameters.job_name",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "SBC_Azure_Synapse",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Update Fail Logs",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Transform and Write to blob",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[ADF].[PROC_ETL_LOG_MESSAGE]",
								"storedProcedureParameters": {
									"pBATCH_ID": {
										"value": {
											"value": "@int(pipeline().parameters.batch_id)",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"pERROR_CODE": {
										"value": null,
										"type": "String"
									},
									"pERROR_MESSAGE": {
										"value": null,
										"type": "String"
									},
									"pJOB_ID": {
										"value": {
											"value": "@pipeline().parameters.job_id",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"pLOG_MESSAGE": {
										"value": {
											"value": "Fail to convert Excel to CSV",
											"type": "Expression"
										},
										"type": "String"
									},
									"pLOG_STATUS": {
										"value": "ERROR",
										"type": "String"
									},
									"pSTAGE_GROUP": {
										"value": {
											"value": "@pipeline().parameters.stage_group",
											"type": "Expression"
										},
										"type": "String"
									},
									"pJOB_NAME": {
										"value": {
											"value": "@pipeline().parameters.job_name",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "SBC_Azure_Synapse",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Transform and Write to blob Webhook",
							"type": "WebHook",
							"dependsOn": [
								{
									"activity": "Get and Build Config",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": "https://az-function-helpers-prod.azurewebsites.net/api/orchestrators/convert_excel_to_csv_durable?code=pLMX08V2zu/JeG9NNomzjYDvIyXqFPvSkBkzxAdgarak8yjAGvBV4w==",
								"method": "POST",
								"body": {
									"value": "@json(activity('Get and Build Config').output['firstRow']['config_body'])",
									"type": "Expression"
								},
								"timeout": "00:10:00",
								"reportStatusOnCallBack": false
							}
						}
					]
				}
			}
		],
		"parameters": {
			"input_container": {
				"type": "string"
			},
			"input_path": {
				"type": "string"
			},
			"config_key": {
				"type": "string"
			},
			"output_container": {
				"type": "string"
			},
			"output_path": {
				"type": "string"
			},
			"current_data_time": {
				"type": "string"
			},
			"batch_id": {
				"type": "string"
			},
			"job_name": {
				"type": "string"
			},
			"job_id": {
				"type": "int"
			},
			"stage_group": {
				"type": "string"
			}
		},
		"variables": {
			"input_file": {
				"type": "String"
			},
			"output_file": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-09-21T14:44:31Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}