pipeline/CR SIL.json
{
	"name": "CR SIL",
	"properties": {
		"activities": [
			{
				"name": "Get SIL Job Information",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderStoredProcedureName": "[ADF].[PRC_ETL_JOB_SCRIPT_V2]",
						"storedProcedureParameters": {
							"pGROUP_NAME": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.GROUP_NAME",
									"type": "Expression"
								}
							},
							"pGROUP_VALUE": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.GROUP_VALUE",
									"type": "Expression"
								}
							},
							"STAGE_GROUP": {
								"type": "String",
								"value": "SIL"
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SBC_Azure_Synapse1",
						"type": "DatasetReference",
						"parameters": {
							"TGT_TABLE": "N/A"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "For Each",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get SIL Job Information",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get SIL Job Information').output.value",
						"type": "Expression"
					},
					"batchCount": 1,
					"activities": [
						{
							"name": "CALL SIL STORED PROCEDURE",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": {
									"value": "@{item().JOB_SCRIPT}",
									"type": "Expression"
								}
							},
							"linkedServiceName": {
								"referenceName": "SBC_Azure_Synapse",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Update Success Logs",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "CALL SIL STORED PROCEDURE",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[ADF].[PROC_ETL_LOG_MESSAGE]",
								"storedProcedureParameters": {
									"pBATCH_ID": {
										"value": {
											"value": "@int(pipeline().parameters.batch_id)",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"pERROR_CODE": {
										"value": null,
										"type": "String"
									},
									"pERROR_MESSAGE": {
										"value": null,
										"type": "String"
									},
									"pJOB_ID": {
										"value": {
											"value": "@item().JOB_ID",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"pLOG_MESSAGE": {
										"value": "Data is loaded to DWH",
										"type": "String"
									},
									"pLOG_STATUS": {
										"value": "INFO",
										"type": "String"
									},
									"pSTAGE_GROUP": {
										"value": {
											"value": "@item().STAGE_GROUP",
											"type": "Expression"
										},
										"type": "String"
									},
									"pJOB_NAME": {
										"value": {
											"value": "@item().JOB_NAME",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "SBC_Azure_Synapse",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Update Fail Logs",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "CALL SIL STORED PROCEDURE",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[ADF].[PROC_ETL_LOG_MESSAGE]",
								"storedProcedureParameters": {
									"pBATCH_ID": {
										"value": {
											"value": "@int(pipeline().parameters.batch_id)",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"pERROR_CODE": {
										"value": null,
										"type": "String"
									},
									"pERROR_MESSAGE": {
										"value": null,
										"type": "String"
									},
									"pJOB_ID": {
										"value": {
											"value": "@item().JOB_ID",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"pLOG_MESSAGE": {
										"value": "Fail to load data to DWH",
										"type": "String"
									},
									"pLOG_STATUS": {
										"value": "ERROR",
										"type": "String"
									},
									"pSTAGE_GROUP": {
										"value": {
											"value": "@item().STAGE_GROUP",
											"type": "Expression"
										},
										"type": "String"
									},
									"pJOB_NAME": {
										"value": {
											"value": "@item().JOB_NAME",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "SBC_Azure_Synapse",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"current_data_time": {
				"type": "string"
			},
			"batch_id": {
				"type": "string"
			},
			"GROUP_NAME": {
				"type": "string"
			},
			"GROUP_VALUE": {
				"type": "string"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-09-21T14:44:30Z",
		"lastUpdateUtc": "2022-12-08T10:04:12Z",
		"createTimeUtc": "0001-01-01T00:00:00Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}