pipeline/CR SDE WITH HEADER.json
{
	"name": "CR SDE WITH HEADER",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Blob_Container",
						"type": "DatasetReference",
						"parameters": {
							"container": {
								"value": "@pipeline().parameters.input_container",
								"type": "Expression"
							},
							"path": {
								"value": "@replace(pipeline().parameters.input_path,'%d',pipeline().parameters.current_data_time)",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata1').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy Data",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 3,
								"retryIntervalInSeconds": 120,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "SqlDWSink",
									"allowPolyBase": true,
									"polyBaseSettings": {
										"rejectValue": 0,
										"rejectType": "value",
										"useTypeDefault": true
									},
									"disableMetricsCollection": false
								},
								"enableStaging": true,
								"stagingSettings": {
									"linkedServiceName": {
										"referenceName": "SBC_Blob_Storage",
										"type": "LinkedServiceReference"
									},
									"path": "staging"
								}
							},
							"outputs": [
								{
									"referenceName": "SBC_Azure_Synapse1",
									"type": "DatasetReference",
									"parameters": {
										"TGT_TABLE": {
											"value": "@pipeline().parameters.target_table",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Update Success Logs",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Copy Data",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[ADF].[PROC_ETL_LOG_MESSAGE]",
								"storedProcedureParameters": {
									"pBATCH_ID": {
										"value": {
											"value": "@int(pipeline().parameters.batch_id)",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"pERROR_CODE": {
										"value": null,
										"type": "String"
									},
									"pERROR_MESSAGE": {
										"value": null,
										"type": "String"
									},
									"pJOB_ID": {
										"value": {
											"value": "@pipeline().parameters.job_id",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"pLOG_MESSAGE": {
										"value": {
											"value": "@concat('Copied ',activity('Copy Data').output.rowsCopied,' row(s) from ',item().name)",
											"type": "Expression"
										},
										"type": "String"
									},
									"pLOG_STATUS": {
										"value": "DEBUG",
										"type": "String"
									},
									"pSTAGE_GROUP": {
										"value": {
											"value": "@pipeline().parameters.stage_group",
											"type": "Expression"
										},
										"type": "String"
									},
									"pJOB_NAME": {
										"value": {
											"value": "@pipeline().parameters.job_name",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "SBC_Azure_Synapse",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Update Fail Logs",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Copy Data",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[ADF].[PROC_ETL_LOG_MESSAGE]",
								"storedProcedureParameters": {
									"pBATCH_ID": {
										"value": {
											"value": "@int(pipeline().parameters.batch_id)",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"pERROR_CODE": {
										"value": null,
										"type": "String"
									},
									"pERROR_MESSAGE": {
										"value": null,
										"type": "String"
									},
									"pJOB_ID": {
										"value": {
											"value": "@pipeline().parameters.job_id",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"pLOG_MESSAGE": {
										"value": {
											"value": "Fail to copy data",
											"type": "Expression"
										},
										"type": "String"
									},
									"pLOG_STATUS": {
										"value": "ERROR",
										"type": "String"
									},
									"pSTAGE_GROUP": {
										"value": {
											"value": "@pipeline().parameters.stage_group",
											"type": "Expression"
										},
										"type": "String"
									},
									"pJOB_NAME": {
										"value": {
											"value": "@pipeline().parameters.job_name",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "SBC_Azure_Synapse",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": {
							"value": "TRUNCATE TABLE @{pipeline().parameters.target_table};\nSELECT COUNT(1) FROM @{pipeline().parameters.target_table}",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SBC_Azure_Synapse1",
						"type": "DatasetReference",
						"parameters": {
							"TGT_TABLE": {
								"value": "@pipeline().parameters.target_table",
								"type": "Expression"
							}
						}
					}
				}
			}
		],
		"parameters": {
			"input_container": {
				"type": "string"
			},
			"input_path": {
				"type": "string"
			},
			"target_table": {
				"type": "string"
			},
			"job_id": {
				"type": "int"
			},
			"job_name": {
				"type": "string"
			},
			"job_type": {
				"type": "int"
			},
			"batch_id": {
				"type": "string"
			},
			"current_data_time": {
				"type": "string"
			},
			"stage_group": {
				"type": "string"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-09-21T14:44:31Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}