pipeline/DELETE PROCESSED DATA.json
{
	"name": "DELETE PROCESSED DATA",
	"properties": {
		"activities": [
			{
				"name": "Get Blob Information",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Delete Blob staging",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": "select distinct CONTAINER FROM adf.etl_job WHERE CONTAINER IS NOT NULL",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SBC_Azure_Synapse",
						"type": "DatasetReference",
						"parameters": {
							"TGT_TABLE": "N/A"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "For Each",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Blob Information",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Blob Information').output.value",
						"type": "Expression"
					},
					"batchCount": 4,
					"activities": [
						{
							"name": "Delete Blobs",
							"type": "Delete",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "Blob_Storage_backup_delete",
									"type": "DatasetReference",
									"parameters": {
										"container": "@{item().CONTAINER}"
									}
								},
								"enableLogging": false,
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": "*"
								}
							}
						}
					]
				}
			},
			{
				"name": "Delete Blob staging",
				"type": "Delete",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Blob_Storage_backup_delete",
						"type": "DatasetReference",
						"parameters": {
							"container": "staging"
						}
					},
					"enableLogging": false,
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"wildcardFileName": "*"
					}
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2023-09-21T14:44:31Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}