pipeline/DYNAMIC LOAD EXCEL FILES.json
{
	"name": "DYNAMIC LOAD EXCEL FILES",
	"properties": {
		"activities": [
			{
				"name": "Transform and Write to blob",
				"type": "AzureFunctionActivity",
				"dependsOn": [
					{
						"activity": "Get and Build Config",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"functionName": "process",
					"method": "POST",
					"body": {
						"value": "@activity('Get and Build Config').output['firstRow']['config_body']",
						"type": "Expression"
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureFunction1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Get and Build Config",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": {
							"value": "@concat('[', pipeline().parameters.schemaName, '].[ETL_DYNAMIC_EXCEL_CONFIG_PRC]')",
							"type": "Expression"
						},
						"storedProcedureParameters": {
							"configKey": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.configKey",
									"type": "Expression"
								}
							},
							"inputContainer": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.inputContainer",
									"type": "Expression"
								}
							},
							"inputFile": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.inputFile",
									"type": "Expression"
								}
							},
							"outputContainer": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.outputContainer",
									"type": "Expression"
								}
							},
							"outputFile": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.outputFile",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SQL_Server_Dataset",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			}
		],
		"parameters": {
			"schemaName": {
				"type": "string"
			},
			"configKey": {
				"type": "string"
			},
			"inputContainer": {
				"type": "string"
			},
			"inputFile": {
				"type": "string"
			},
			"outputContainer": {
				"type": "string"
			},
			"outputFile": {
				"type": "string"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-09-21T14:44:30Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}