pipeline/FINANCE_MASTER_PIPELINE.json
{
	"name": "FINANCE_MASTER_PIPELINE",
	"properties": {
		"activities": [
			{
				"name": "Set Current Time",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set Batch ID",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "current_data_time",
					"value": {
						"value": "@formatDateTime(addhours(utcnow(), 7), 'yyyyMMddHHmm')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Start Batch",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Start Synapse",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderStoredProcedureName": "[ADF].[PROC_ETL_START_BATCH]",
						"storedProcedureParameters": {
							"pBATCH_TYPE_ID": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.batch_type",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SBC_Azure_Synapse1",
						"type": "DatasetReference",
						"parameters": {
							"TGT_TABLE": "DUMMY"
						}
					}
				}
			},
			{
				"name": "Set Batch ID",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Start Batch",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "batch_id",
					"value": {
						"value": "@string(activity('Start batch').output.firstRow.BATCH_ID)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Start Synapse",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "CR SYS RESUME SYNAPSE",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "BRAVO SDE FACT",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "BRAVO SDE DIM2",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "BRAVO SDE FACT",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"p_batch_id": {
							"value": "@variables('batch_id')",
							"type": "Expression"
						},
						"RUN_MANUAL": {
							"value": "@pipeline().parameters.RUN_MANUAL",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "SIL_DIM_BRAVO",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "BRAVO SDE FACT",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "SIL_PIPELINE",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"p_batch_id": {
							"value": "@variables('batch_id')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "SIL_DIM_EXCEL",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "EXC SDE",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "SIL_PIPELINE",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"p_batch_id": {
							"value": "@variables('batch_id')",
							"type": "Expression"
						},
						"p_job_group": "EXC"
					}
				}
			},
			{
				"name": "SIL_FACT_EXCEL",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "SIL_DIM_EXCEL",
						"dependencyConditions": [
							"Completed"
						]
					},
					{
						"activity": "SIL_DIM_BRAVO",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "SIL_PIPELINE",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"p_batch_id": {
							"value": "@variables('batch_id')",
							"type": "Expression"
						},
						"p_job_group": "EXC",
						"p_stage_group": "SIL FACT"
					}
				}
			},
			{
				"name": "SIL_FACT_BRAVO",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "SIL_DIM_BRAVO",
						"dependencyConditions": [
							"Completed"
						]
					},
					{
						"activity": "SIL_DIM_EXCEL",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "SIL_PIPELINE",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"p_batch_id": {
							"value": "@variables('batch_id')",
							"type": "Expression"
						},
						"p_stage_group": "SIL FACT"
					}
				}
			},
			{
				"name": "Finalize - Fail Refresh Power BI",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Fin Refresh",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "FINALIZE_PIPELINE",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"batch_id": {
							"value": "@variables('batch_id')",
							"type": "Expression"
						},
						"log_status": "INFO",
						"pause_dwh": {
							"value": "@pipeline().parameters.pause_dwh_after_finish",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Finalize - Success Pipeline",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Fin Refresh",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "FINALIZE_PIPELINE",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"batch_id": {
							"value": "@variables('batch_id')",
							"type": "Expression"
						},
						"log_status": "INFO",
						"pause_dwh": {
							"value": "@pipeline().parameters.pause_dwh_after_finish",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "EXC SDE",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "LOAD SHAREPOINT",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "EXC SDE_v2",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "LOAD SHAREPOINT",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Set Current Time",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "LOAD SHAREPOINT",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"p_batch_id": {
							"value": "@variables('batch_id')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Fin Refresh",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "SIL_FACT_EXCEL",
						"dependencyConditions": [
							"Completed"
						]
					},
					{
						"activity": "SIL_FACT_BRAVO",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Fin Refresh",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"batch_id": {
							"value": "@variables('batch_id')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "BRAVO SDE DIM2",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Set Current Time",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "BRAVO SDE DIM2",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"p_batch_id": {
							"value": "@variables('batch_id')",
							"type": "Expression"
						}
					}
				}
			}
		],
		"parameters": {
			"batch_type": {
				"type": "int",
				"defaultValue": 0
			},
			"pause_dwh_after_finish": {
				"type": "int",
				"defaultValue": 1
			},
			"RUN_MANUAL": {
				"type": "string",
				"defaultValue": "0"
			}
		},
		"variables": {
			"current_data_time": {
				"type": "String"
			},
			"batch_id": {
				"type": "String"
			}
		},
		"folder": {
			"name": "FINANCE"
		},
		"annotations": [],
		"lastPublishTime": "2023-09-21T14:44:40Z",
		"lastUpdateUtc": "2022-12-08T10:14:25Z",
		"createTimeUtc": "0001-01-01T00:00:00Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}