pipeline/LOAD EXCEL FILES.json
{
	"name": "LOAD EXCEL FILES",
	"properties": {
		"activities": [
			{
				"name": "Get Configs Of Excel File",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT config_body\nFROM STG.ETL_DYNAMIC_EXCEL_CONFIG",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSql",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "STG.ETL_DYNAMIC_EXCEL_CONFIG"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "For Each Excel Config",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Configs Of Excel File",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Configs Of Excel File').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Dynamic Excel Load",
							"type": "AzureFunctionActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"functionName": "process",
								"method": "POST",
								"body": {
									"value": "@{item().config_body}",
									"type": "Expression"
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureFunction1",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2023-09-21T14:44:30Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}