pipeline/LOAD SHAREPOINT.json
{
	"name": "LOAD SHAREPOINT",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "If Condition1",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderStoredProcedureName": "[ADF].[proc_etl_get_job]",
						"storedProcedureParameters": {
							"p_batch_id": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.p_batch_id",
									"type": "Expression"
								}
							},
							"p_job_group": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.p_job_group",
									"type": "Expression"
								}
							},
							"p_job_id": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.p_job_id",
									"type": "Expression"
								}
							},
							"p_order": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.p_order",
									"type": "Expression"
								}
							},
							"p_stage_group": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.p_stage_group",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SBC_Azure_Synapse1",
						"type": "DatasetReference",
						"parameters": {
							"TGT_TABLE": "''"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "start",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[ADF].[proc_etl_log_message]",
								"storedProcedureParameters": {
									"pBATCH_ID": {
										"value": {
											"value": "@pipeline().parameters.p_batch_id",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"pERROR_CODE": {
										"value": "",
										"type": "String"
									},
									"pERROR_MESSAGE": {
										"value": "",
										"type": "String"
									},
									"pJOB_ID": {
										"value": {
											"value": "@item().JOB_ID",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"pJOB_NAME": {
										"value": "",
										"type": "String"
									},
									"pLOG_MESSAGE": {
										"value": {
											"value": "Start load table @{item().TGT_TABLE}",
											"type": "Expression"
										},
										"type": "String"
									},
									"pLOG_STATUS": {
										"value": "",
										"type": "String"
									},
									"pSTAGE_GROUP": {
										"value": "",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "SBC_Azure_Synapse",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "end_success",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Azure Function1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[ADF].[proc_etl_log_message]",
								"storedProcedureParameters": {
									"pBATCH_ID": {
										"value": {
											"value": "@pipeline().parameters.p_batch_id",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"pERROR_CODE": {
										"value": "0",
										"type": "String"
									},
									"pERROR_MESSAGE": {
										"value": "",
										"type": "String"
									},
									"pJOB_ID": {
										"value": {
											"value": "@item().JOB_ID",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"pJOB_NAME": {
										"value": "",
										"type": "String"
									},
									"pLOG_MESSAGE": {
										"value": {
											"value": "Finished load table @{item().TGT_TABLE}",
											"type": "Expression"
										},
										"type": "String"
									},
									"pLOG_STATUS": {
										"value": "END",
										"type": "String"
									},
									"pSTAGE_GROUP": {
										"value": "",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "SBC_Azure_Synapse",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "end_fail",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Azure Function1",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[ADF].[proc_etl_log_message]",
								"storedProcedureParameters": {
									"pBATCH_ID": {
										"value": {
											"value": "@pipeline().parameters.p_batch_id",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"pERROR_CODE": {
										"value": "1",
										"type": "String"
									},
									"pERROR_MESSAGE": {
										"value": "Function Fail",
										"type": "String"
									},
									"pJOB_ID": {
										"value": {
											"value": "@item().JOB_ID",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"pJOB_NAME": {
										"value": "",
										"type": "String"
									},
									"pLOG_MESSAGE": {
										"value": {
											"value": "Finished load table @{item().TGT_TABLE}",
											"type": "Expression"
										},
										"type": "String"
									},
									"pLOG_STATUS": {
										"value": "ERROR",
										"type": "String"
									},
									"pSTAGE_GROUP": {
										"value": "",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "SBC_Azure_Synapse",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Azure Function1",
							"type": "AzureFunctionActivity",
							"dependsOn": [
								{
									"activity": "start",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 1,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"functionName": {
									"value": "@item().FUNCTION_NAME",
									"type": "Expression"
								},
								"method": "POST",
								"body": {
									"value": "{\"SHAREPOINT_LIST_JSON\":\"json/now/@{item().CONTAINER}\",\"SHAREPOINT_LIST_EXCEL\":\"excel/20230130/@{item().CONTAINER}\",\"path\":\"@{item().SRC_TABLE}\",\"column_name\":\"@{item().column_name}\"}",
									"type": "Expression"
								}
							},
							"linkedServiceName": {
								"referenceName": "az_function_phase2",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Azure Function1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"wildcardFolderPath": {
											"value": "json/now/@{item().CONTAINER}",
											"type": "Expression"
										},
										"wildcardFileName": "*",
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "JSON_FOLDER",
									"type": "DatasetReference",
									"parameters": {
										"folder": {
											"value": "json/now/@{item().CONTAINER}",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "JSON_FOLDER",
									"type": "DatasetReference",
									"parameters": {
										"folder": {
											"value": "json/@{formatDateTime(addhours(utcnow(),7),'yyyy')}/@{formatDateTime(addhours(utcnow(),7),'yyyyMMdd')}/@{item().CONTAINER}",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "JSON_FOLDER",
						"type": "DatasetReference",
						"parameters": {
							"folder": "json/now"
						}
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "JsonReadSettings"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('Get Metadata1').output.exists,true)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Delete1",
							"type": "Delete",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "JSON_FOLDER",
									"type": "DatasetReference",
									"parameters": {
										"folder": "json/now"
									}
								},
								"enableLogging": false,
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"p_batch_id": {
				"type": "string",
				"defaultValue": "1"
			},
			"p_job_group": {
				"type": "string",
				"defaultValue": "SPO"
			},
			"p_job_id": {
				"type": "string",
				"defaultValue": "ALL"
			},
			"p_order": {
				"type": "string",
				"defaultValue": "ALL"
			},
			"ENTITY": {
				"type": "string"
			},
			"p_stage_group": {
				"type": "string",
				"defaultValue": "LND"
			}
		},
		"folder": {
			"name": "FINANCE"
		},
		"annotations": [],
		"lastPublishTime": "2023-09-21T14:44:30Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}