pipeline/NOTIFY MISSING DATA.json
{
	"name": "NOTIFY MISSING DATA",
	"properties": {
		"activities": [
			{
				"name": "Lookup notification cases",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": "SELECT * FROM ADF.NOTIFICATION_CONFIG WHERE IS_ACTIVE_FLG=1",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SBC_Azure_Synapse1",
						"type": "DatasetReference",
						"parameters": {
							"TGT_TABLE": "Dummy"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "For each notification case",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup notification cases",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup notification cases').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Query date id list",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlDWSource",
									"sqlReaderQuery": {
										"value": "SELECT DISTINCT [@{item().COLUMN_VALIDATTION}]\nFROM DWH.@{item().FACT_TABLE_NAME}\n",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "SBC_Azure_Synapse1",
									"type": "DatasetReference",
									"parameters": {
										"TGT_TABLE": "Dummy"
									}
								},
								"firstRowOnly": false
							}
						},
						{
							"name": "Send data validation request",
							"type": "AzureFunctionActivity",
							"dependsOn": [
								{
									"activity": "Query date id list",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"functionName": "DataValidation",
								"method": "POST",
								"body": {
									"value": "{\n    \"rule\": \"@{item().NOTIFY_RULE}\",\n    \"reference_date\": \"@{pipeline().parameters.current_data_time}\",\n    \"days_of_month_to_notify\": \"@{item().DAYS_OF_MONTH_TO_NOTIFY}\",\n    \"days_of_week_to_notify\": \"@{item().DAYS_OF_WEEK_TO_NOTIFY}\",\n    \"months_of_year_to_notify\": \"@{item().MONTHS_OF_YEAR_TO_NOTIFY}\",\n    \"date_id_list\": @{activity('Query date id list').output.value}\n}",
									"type": "Expression"
								}
							},
							"linkedServiceName": {
								"referenceName": "az_function_helpers",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Notify if",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Send data validation request",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(activity('Send data validation request').output.Response, 'OK')",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "SEND EMAIL IF DATA MISSING",
										"type": "ExecutePipeline",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"pipeline": {
												"referenceName": "SEND EMAIL IF DATA MISSING1",
												"type": "PipelineReference"
											},
											"waitOnCompletion": true,
											"parameters": {
												"TO_EMAIL": {
													"value": "@item().NOTIFY_TO",
													"type": "Expression"
												},
												"CC_EMAIL": {
													"value": "@item().CC_TO",
													"type": "Expression"
												},
												"IS_DATA_MISSING": {
													"value": "@equals(1,1)",
													"type": "Expression"
												},
												"SUBJECT": {
													"value": "@item().HEADER",
													"type": "Expression"
												},
												"HEADER": {
													"value": "@{string('')}",
													"type": "Expression"
												},
												"MESSAGE": {
													"value": "@{replace(\n\treplace(\n\t\treplace(\n\t\t\treplace(\n\t\t\t\treplace(\n\t\t\t\t\treplace(\n\t\t\t\t\t\treplace(\n\t\t\t\t\t\t\treplace(\n\t\t\t\t\t\t\t\treplace(\n\t\t\t\t\t\t\t\t\treplace(\n\t\t\t\t\t\t\t\t\t\treplace(\n\t\t\t\t\t\t\t\t\t\t\treplace(\n\t\t\t\t\t\t\t\t\t\t\t\treplace(\n\t\t\t\t\t\t\t\t\t\t\t\t\t item().MESSAGE_CONTENT, \n\t\t\t\t\t\t\t\t\t\t\t\t\t 'FILE_NAME', \n\t\t\t\t\t\t\t\t\t\t\t\t\t string(item().FILE_NAME)),\n\t\t\t\t\t\t\t\t\t\t\t\t 'FILE_TYPE',\n\t\t\t\t\t\t\t\t\t\t\t\t string(item().FILE_TYPE)),\n\t\t\t\t\t\t\t\t\t\t\t 'UPLOAD_FREQUENCY',\n\t\t\t\t\t\t\t\t\t\t\t string(item().UPLOAD_FREQUENCY)),\n\t\t\t\t\t\t\t\t\t\t 'UPLOAD_TIME',\n\t\t\t\t\t\t\t\t\t\t string(item().UPLOAD_TIME)),\n\t\t\t\t\t\t\t\t\t 'REMARK',\n\t\t\t\t\t\t\t\t\t string(item().REMARK)),\n\t\t\t\t\t\t\t\t 'DEPARTMENT',\n\t\t\t\t\t\t\t\t string(item().DEPARTMENT)),\n\t\t\t\t\t\t\t 'PIC',\n\t\t\t\t\t\t\t string(item().PIC)),\n\t\t\t\t\t\t 'BI_SHAREPOINT_FOLDER',\n\t\t\t\t\t\t string(item().BI_SHAREPOINT_FOLDER)),\n\t\t\t\t\t 'NOTIFY_TO',\n\t\t\t\t\t string(item().NOTIFY_TO)),\n\t\t\t\t 'CC_TO',\n\t\t\t\t string(item().CC_TO)),\n\t\t\t 'FACT_TABLE_NAME',\n\t\t\t string(item().FACT_TABLE_NAME)),\n\t\t 'NOTIFY_RULE',\n\t\t string(item().NOTIFY_RULE)),\n\t 'APPROVER',\n\t string(item().APPROVER))\n\t}",
													"type": "Expression"
												}
											}
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"parameters": {
			"current_data_time": {
				"type": "string"
			},
			"batch_id": {
				"type": "string"
			}
		},
		"variables": {
			"temp": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-09-21T14:44:30Z",
		"lastUpdateUtc": "2021-07-13T16:05:32Z",
		"createTimeUtc": "2021-07-13T16:05:32Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}