pipeline/SDE DATA WITH HEADER BACKUP.json
{
	"name": "SDE DATA WITH HEADER BACKUP",
	"properties": {
		"activities": [
			{
				"name": "Get SDE Job Information",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": "SELECT *\nFROM ADF.ETL_JOB\nWHERE STAGE_GROUP = 'SDE' AND IS_ACTIVE_FLG = 1 AND HAVE_HEADER = 1\nORDER BY JOB_ORDER",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SBC_Azure_Synapse",
						"type": "DatasetReference",
						"parameters": {
							"TGT_TABLE": "N/A"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "For Each",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get SDE Job Information",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get SDE Job Information').output.value",
						"type": "Expression"
					},
					"batchCount": 4,
					"activities": [
						{
							"name": "Check Job Type",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@{equals(int(item().JOB_TYPE),1)}",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Incremental Load",
										"type": "Copy",
										"dependsOn": [
											{
												"activity": "Get Job Name",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "DelimitedTextSource",
												"storeSettings": {
													"type": "AzureBlobStorageReadSettings",
													"recursive": true,
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "DelimitedTextReadSettings"
												}
											},
											"sink": {
												"type": "SqlDWSink",
												"preCopyScript": {
													"value": "TRUNCATE TABLE @{Item().TGT_TABLE}",
													"type": "Expression"
												},
												"allowPolyBase": true,
												"polyBaseSettings": {
													"rejectValue": 0,
													"rejectType": "value",
													"useTypeDefault": true
												},
												"disableMetricsCollection": false
											},
											"enableStaging": true,
											"stagingSettings": {
												"linkedServiceName": {
													"referenceName": "SBC_Blob_Storage",
													"type": "LinkedServiceReference"
												},
												"path": "staging"
											}
										},
										"inputs": [
											{
												"referenceName": "Blob_Storage",
												"type": "DatasetReference",
												"parameters": {
													"container": {
														"value": "@{item().CONTAINER}",
														"type": "Expression"
													},
													"filename": "@activity('Get Job Name').output.firstRow.FILE_NAME"
												}
											}
										],
										"outputs": [
											{
												"referenceName": "SBC_Azure_Synapse",
												"type": "DatasetReference",
												"parameters": {
													"TGT_TABLE": {
														"value": "@{item().TGT_TABLE}",
														"type": "Expression"
													}
												}
											}
										]
									},
									{
										"name": "Update ETL Last Extract Dates IL",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "Incremental Load",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[ADF].[PRC_UPDATE_ETL_LOAD_DATES]",
											"storedProcedureParameters": {
												"EXTRACT_STATUS": {
													"value": {
														"value": "@{activity('Incremental Load').output.executionDetails[0].status}",
														"type": "Expression"
													},
													"type": "String"
												},
												"JOB_ID": {
													"value": {
														"value": "@{item().JOB_ID}",
														"type": "Expression"
													},
													"type": "Int32"
												},
												"JOB_NAME": {
													"value": {
														"value": "@{item().JOB_NAME}",
														"type": "Expression"
													},
													"type": "String"
												},
												"JOB_TYPE": {
													"value": {
														"value": "@{item().JOB_TYPE}",
														"type": "Expression"
													},
													"type": "Int32"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "SBC_Azure_Synapse",
											"type": "LinkedServiceReference"
										}
									},
									{
										"name": "Get Job Name",
										"type": "Lookup",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "SqlDWSource",
												"sqlReaderQuery": {
													"value": "DECLARE @FILEVERSION INT = (SELECT LEFT(FORMAT(DATEADD(HOUR,7,GETDATE()),'yyyyMMdd'),8));\nSELECT CONCAT('@{item().SRC_TABLE}','_',@FILEVERSION,'.csv') AS FILE_NAME;",
													"type": "Expression"
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"dataset": {
												"referenceName": "SBC_Azure_Synapse",
												"type": "DatasetReference",
												"parameters": {
													"TGT_TABLE": "N/A"
												}
											}
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "Full Load",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "DelimitedTextSource",
												"storeSettings": {
													"type": "AzureBlobStorageReadSettings",
													"recursive": true,
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "DelimitedTextReadSettings"
												}
											},
											"sink": {
												"type": "SqlDWSink",
												"preCopyScript": {
													"value": "TRUNCATE TABLE @{Item().TGT_TABLE}",
													"type": "Expression"
												},
												"allowPolyBase": true,
												"polyBaseSettings": {
													"rejectValue": 0,
													"rejectType": "value",
													"useTypeDefault": true
												},
												"disableMetricsCollection": false
											},
											"enableStaging": true,
											"stagingSettings": {
												"linkedServiceName": {
													"referenceName": "SBC_Blob_Storage",
													"type": "LinkedServiceReference"
												},
												"path": "staging"
											}
										},
										"inputs": [
											{
												"referenceName": "Blob_Storage",
												"type": "DatasetReference",
												"parameters": {
													"container": {
														"value": "@{item().CONTAINER}",
														"type": "Expression"
													},
													"filename": "@{item().SRC_TABLE}"
												}
											}
										],
										"outputs": [
											{
												"referenceName": "SBC_Azure_Synapse",
												"type": "DatasetReference",
												"parameters": {
													"TGT_TABLE": {
														"value": "@{item().TGT_TABLE}",
														"type": "Expression"
													}
												}
											}
										]
									},
									{
										"name": "Update ETL Last Extract Dates FL",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "Full Load",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[ADF].[PRC_UPDATE_ETL_LOAD_DATES]",
											"storedProcedureParameters": {
												"EXTRACT_STATUS": {
													"value": {
														"value": "@{activity('Full Load').output.executionDetails[0].status}",
														"type": "Expression"
													},
													"type": "String"
												},
												"JOB_ID": {
													"value": {
														"value": "@{item().JOB_ID}",
														"type": "Expression"
													},
													"type": "Int32"
												},
												"JOB_NAME": {
													"value": {
														"value": "@{item().JOB_NAME}",
														"type": "Expression"
													},
													"type": "String"
												},
												"JOB_TYPE": {
													"value": {
														"value": "@{item().JOB_TYPE}",
														"type": "Expression"
													},
													"type": "Int32"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "SBC_Azure_Synapse",
											"type": "LinkedServiceReference"
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2023-09-21T14:44:32Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}