pipeline/SDE DATA WITH NO HEADER.json
{
	"name": "SDE DATA WITH NO HEADER",
	"properties": {
		"activities": [
			{
				"name": "Get SDE Job Information",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": "SELECT *\nFROM ADF.ETL_JOB\nWHERE STAGE_GROUP = 'SDE' AND IS_ACTIVE_FLG = 1 AND HAVE_HEADER = 0\nORDER BY JOB_ORDER",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SBC_Azure_Synapse",
						"type": "DatasetReference",
						"parameters": {
							"TGT_TABLE": "N/A"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Filter Full Load File",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Get SDE Job Information",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get SDE Job Information').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().JOB_TYPE,1)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "For Each Full Load File",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filter Full Load File",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get SDE Job Information').output.value",
						"type": "Expression"
					},
					"batchCount": 4,
					"activities": [
						{
							"name": "Get Metadata FL No Header File",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "Blob_Storage",
									"type": "DatasetReference",
									"parameters": {
										"container": {
											"value": "@{item().CONTAINER}",
											"type": "Expression"
										},
										"filename": {
											"value": "@{item().SRC_TABLE}",
											"type": "Expression"
										}
									}
								},
								"fieldList": [
									"exists"
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							}
						},
						{
							"name": "If FL File Exists",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Get Metadata FL No Header File",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(activity('Get Metadata FL No Header File').output.exists,true)\n",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Full Load No Header File",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "DelimitedTextSource",
												"storeSettings": {
													"type": "AzureBlobStorageReadSettings",
													"recursive": true,
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "DelimitedTextReadSettings"
												}
											},
											"sink": {
												"type": "SqlDWSink",
												"preCopyScript": {
													"value": "TRUNCATE TABLE @{Item().TGT_TABLE}",
													"type": "Expression"
												},
												"allowPolyBase": true,
												"polyBaseSettings": {
													"rejectValue": 0,
													"rejectType": "value",
													"useTypeDefault": true
												},
												"disableMetricsCollection": false
											},
											"enableStaging": true,
											"stagingSettings": {
												"linkedServiceName": {
													"referenceName": "SBC_Blob_Storage",
													"type": "LinkedServiceReference"
												},
												"path": "staging"
											}
										},
										"inputs": [
											{
												"referenceName": "Blob_Storage_No_Header",
												"type": "DatasetReference",
												"parameters": {
													"container": "@{item().CONTAINER}",
													"filename": "@{item().SRC_TABLE}"
												}
											}
										],
										"outputs": [
											{
												"referenceName": "SBC_Azure_Synapse",
												"type": "DatasetReference",
												"parameters": {
													"TGT_TABLE": {
														"value": "@{item().TGT_TABLE}",
														"type": "Expression"
													}
												}
											}
										]
									},
									{
										"name": "Update ETL Last Extract Dates FL No Header",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "Full Load No Header File",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[ADF].[PRC_UPDATE_ETL_LOAD_DATES]",
											"storedProcedureParameters": {
												"EXTRACT_STATUS": {
													"value": {
														"value": "@{activity('Full Load No Header File').output.executionDetails[0].status}",
														"type": "Expression"
													},
													"type": "String"
												},
												"JOB_ID": {
													"value": {
														"value": "@{item().JOB_ID}",
														"type": "Expression"
													},
													"type": "Int32"
												},
												"JOB_NAME": {
													"value": {
														"value": "@{item().JOB_NAME}",
														"type": "Expression"
													},
													"type": "String"
												},
												"JOB_TYPE": {
													"value": {
														"value": "@{item().JOB_TYPE}",
														"type": "Expression"
													},
													"type": "Int32"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "SBC_Azure_Synapse",
											"type": "LinkedServiceReference"
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "Filter Incremental Load File",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Get SDE Job Information",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get SDE Job Information').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().JOB_TYPE,2)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "For Each Incremental Load File",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filter Incremental Load File",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter Incremental Load File').output.value",
						"type": "Expression"
					},
					"batchCount": 4,
					"activities": [
						{
							"name": "Get Metadata IL No Header File",
							"type": "GetMetadata",
							"dependsOn": [
								{
									"activity": "Get Job Name",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "Blob_Storage",
									"type": "DatasetReference",
									"parameters": {
										"container": {
											"value": "@{item().CONTAINER}",
											"type": "Expression"
										},
										"filename": {
											"value": "@activity('Get Job Name').output.firstRow.FILE_NAME",
											"type": "Expression"
										}
									}
								},
								"fieldList": [
									"exists"
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							}
						},
						{
							"name": "If IL File Exists",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Get Metadata IL No Header File",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(activity('Get Metadata IL No Header File').output.exists,true)\n",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Incremental Load No Header File",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "DelimitedTextSource",
												"storeSettings": {
													"type": "AzureBlobStorageReadSettings",
													"recursive": true,
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "DelimitedTextReadSettings"
												}
											},
											"sink": {
												"type": "SqlDWSink",
												"preCopyScript": {
													"value": "TRUNCATE TABLE @{Item().TGT_TABLE}",
													"type": "Expression"
												},
												"allowPolyBase": true,
												"polyBaseSettings": {
													"rejectValue": 0,
													"rejectType": "value",
													"useTypeDefault": true
												},
												"disableMetricsCollection": false
											},
											"enableStaging": true,
											"stagingSettings": {
												"linkedServiceName": {
													"referenceName": "SBC_Blob_Storage",
													"type": "LinkedServiceReference"
												},
												"path": "staging"
											}
										},
										"inputs": [
											{
												"referenceName": "Blob_Storage_No_Header",
												"type": "DatasetReference",
												"parameters": {
													"container": "@{item().CONTAINER}",
													"filename": "@activity('Get Job Name').output.firstRow.FILE_NAME"
												}
											}
										],
										"outputs": [
											{
												"referenceName": "SBC_Azure_Synapse",
												"type": "DatasetReference",
												"parameters": {
													"TGT_TABLE": {
														"value": "@{item().TGT_TABLE}",
														"type": "Expression"
													}
												}
											}
										]
									},
									{
										"name": "Update ETL Last Extract Dates IL",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "Incremental Load No Header File",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[ADF].[PRC_UPDATE_ETL_LOAD_DATES]",
											"storedProcedureParameters": {
												"EXTRACT_STATUS": {
													"value": {
														"value": "@{activity('Incremental Load No Header File').output.executionDetails[0].status}",
														"type": "Expression"
													},
													"type": "String"
												},
												"JOB_ID": {
													"value": {
														"value": "@{item().JOB_ID}",
														"type": "Expression"
													},
													"type": "Int32"
												},
												"JOB_NAME": {
													"value": {
														"value": "@{item().JOB_NAME}",
														"type": "Expression"
													},
													"type": "String"
												},
												"JOB_TYPE": {
													"value": {
														"value": "@{item().JOB_TYPE}",
														"type": "Expression"
													},
													"type": "Int32"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "SBC_Azure_Synapse",
											"type": "LinkedServiceReference"
										}
									}
								]
							}
						},
						{
							"name": "Get Job Name",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlDWSource",
									"sqlReaderQuery": {
										"value": "DECLARE @FILEVERSION INT = (SELECT LEFT(FORMAT(DATEADD(HOUR,7,GETDATE()),'yyyyMMdd'),8));\nSELECT CONCAT('@{item().SRC_TABLE}','_',@FILEVERSION,'.csv') AS FILE_NAME;",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "SBC_Azure_Synapse",
									"type": "DatasetReference",
									"parameters": {
										"TGT_TABLE": "N/A"
									}
								}
							}
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2023-09-21T14:44:32Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}