pipeline/W_BRAVO_BALANCE_SHEET.json
{
	"name": "W_BRAVO_BALANCE_SHEET",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "TRUNCATE TABLE",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SBC_Azure_Synapse",
						"type": "DatasetReference",
						"parameters": {
							"TGT_TABLE": "[STG].[W_BRAVO_ENTITY_DS]"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(1,1)",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "pipeline1",
										"type": "ExecutePipeline",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"pipeline": {
												"referenceName": "W_BRAVO_BALANCE_SHEET_CHILD",
												"type": "PipelineReference"
											},
											"waitOnCompletion": true,
											"parameters": {
												"ENTITY": {
													"value": "@{item().Ma_Dvcs}",
													"type": "Expression"
												}
											}
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "TRUNCATE TABLE",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": "TRUNCATE TABLE [STG].[W_BRAVO_BALANCE_SHEET_FS];\nSELECT 1",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SBC_Azure_Synapse",
						"type": "DatasetReference",
						"parameters": {
							"TGT_TABLE": "''"
						}
					},
					"firstRowOnly": false
				}
			}
		],
		"folder": {
			"name": "FINANCE"
		},
		"annotations": [],
		"lastPublishTime": "2023-09-21T14:44:35Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}