pipeline/W_BRAVO_GL_TRANSACTION_CD_BT_FS.json
{
	"name": "W_BRAVO_GL_TRANSACTION_CD_BT_FS",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "TRUNCATE TABLE",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "Blob_Storage",
						"type": "DatasetReference",
						"parameters": {
							"container": "transform-csv-phase2",
							"filename": "New Text Document_1661306039.txt"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"batchCount": 1,
					"activities": [
						{
							"name": "Copy Z06",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"additionalColumns": [
										{
											"name": "W_BATCH_ID",
											"value": "1"
										},
										{
											"name": "W_INSERT_DATE",
											"value": {
												"value": "@addhours(utcnow(),7)",
												"type": "Expression"
											}
										},
										{
											"name": "W_DATASOURCE_NAME",
											"value": "BRAVO"
										},
										{
											"name": "Doc_date1",
											"value": {
												"value": "@item().FROM_DATE",
												"type": "Expression"
											}
										},
										{
											"name": "Doc_date2",
											"value": {
												"value": "@item().TO_DATE",
												"type": "Expression"
											}
										}
									],
									"sqlReaderQuery": {
										"value": "exec usp_Kcd_GeneralLedger_BI\n@_DocDate1 = '@{item().FROM_DATE}',\n@_DocDate2 = '@{item().TO_DATE}',\n@_Account = '632',\n@_TransCodeList = '23083',\n@_Ma_Dvcs = 'Z06'\n",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "SqlDWSink",
									"writeBehavior": "Insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "Bravo_SqlServerTable",
									"type": "DatasetReference",
									"parameters": {
										"schema": "''",
										"table": "''"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "SBC_Azure_Synapse1",
									"type": "DatasetReference",
									"parameters": {
										"TGT_TABLE": "[STG].[W_BRAVO_GL_TRANSACTION_DETAIL_FS]"
									}
								}
							]
						},
						{
							"name": "Copy Z02",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"additionalColumns": [
										{
											"name": "W_BATCH_ID",
											"value": "1"
										},
										{
											"name": "W_INSERT_DATE",
											"value": {
												"value": "@addhours(utcnow(),7)",
												"type": "Expression"
											}
										},
										{
											"name": "W_DATASOURCE_NAME",
											"value": "BRAVO"
										},
										{
											"name": "Doc_date1",
											"value": {
												"value": "@item().FROM_DATE",
												"type": "Expression"
											}
										},
										{
											"name": "Doc_date2",
											"value": {
												"value": "@item().TO_DATE",
												"type": "Expression"
											}
										}
									],
									"sqlReaderQuery": {
										"value": "exec usp_Kcd_GeneralLedger_BI\n@_DocDate1 = '@{item().FROM_DATE}',\n@_DocDate2 = '@{item().TO_DATE}',\n@_Account = '632',\n@_TransCodeList = '19368,19668B',\n@_Ma_Dvcs = 'Z02'\n",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "SqlDWSink",
									"writeBehavior": "Insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "Bravo_SqlServerTable",
									"type": "DatasetReference",
									"parameters": {
										"schema": "''",
										"table": "''"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "SBC_Azure_Synapse1",
									"type": "DatasetReference",
									"parameters": {
										"TGT_TABLE": "[STG].[W_BRAVO_GL_TRANSACTION_DETAIL_FS]"
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "TRUNCATE TABLE",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": "TRUNCATE TABLE [STG].[W_BRAVO_GL_TRANSACTION_DETAIL_FS];\nSELECT 1",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SBC_Azure_Synapse",
						"type": "DatasetReference",
						"parameters": {
							"TGT_TABLE": "''"
						}
					},
					"firstRowOnly": false
				}
			}
		],
		"parameters": {
			"ENTITY": {
				"type": "string",
				"defaultValue": "Z02"
			}
		},
		"folder": {
			"name": "FINANCE"
		},
		"annotations": [],
		"lastPublishTime": "2023-09-21T14:44:33Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}