pipeline/W_BRAVO_BALANCE_SHEET_CONSOL.json
{
	"name": "W_BRAVO_BALANCE_SHEET_CONSOL",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "Blob_Storage",
						"type": "DatasetReference",
						"parameters": {
							"container": "transform-csv-phase2",
							"filename": "New Text Document_1661306039.txt"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"additionalColumns": [
										{
											"name": "Entity",
											"value": {
												"value": "@{pipeline().parameters.ENTITY}",
												"type": "Expression"
											}
										},
										{
											"name": "W_BATCH_ID",
											"value": "1"
										},
										{
											"name": "W_INSERT_DATE",
											"value": {
												"value": "@addhours(utcnow(),7)",
												"type": "Expression"
											}
										},
										{
											"name": "W_DATASOURCE_NAME",
											"value": "BRAVO"
										},
										{
											"name": "Doc_date1",
											"value": ""
										},
										{
											"name": "Doc_date2",
											"value": {
												"value": "@item().TO_DATE",
												"type": "Expression"
											}
										}
									],
									"sqlReaderQuery": {
										"value": "exec usp_Kqt_BangCanDoiKeToan202_BI @_DocDate2 = '@{item().TO_DATE}',@_Ma_Dvcs = '@{pipeline().parameters.ENTITY}', @_BranchCode1 ='@{pipeline().parameters.BRANCH_CODE}'",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "SqlDWSink",
									"preCopyScript": "TRUNCATE TABLE [STG].[W_BRAVO_BALANCE_SHEET_CONSOL_FS]",
									"writeBehavior": "Insert",
									"sqlWriterUseTableLock": false,
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "Bravo_SqlServerTable",
									"type": "DatasetReference",
									"parameters": {
										"schema": "''",
										"table": "''"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "SBC_Azure_Synapse1",
									"type": "DatasetReference",
									"parameters": {
										"TGT_TABLE": "[STG].[W_BRAVO_BALANCE_SHEET_CONSOL_FS]"
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"ENTITY": {
				"type": "string",
				"defaultValue": "A00"
			},
			"BRANCH_CODE": {
				"type": "string",
				"defaultValue": "A10"
			}
		},
		"folder": {
			"name": "FINANCE"
		},
		"annotations": [],
		"lastPublishTime": "2023-09-21T14:44:32Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}